<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Home</a>
    <a class="navbar-brand" routerLink="new-project">New Project</a>
    <a class="navbar-brand" routerLink="about">About Us</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <h1 class="display-1">{{title}}</h1>
  <hr>
  <router-outlet></router-outlet>
</div>
